/* Set the background color */

body {
    background-color: #0083C0;
}


/* Justify all text in paragraphs */

p {
    text-align: justify;
}

h2,
h1,
h3 {
    color: #0083C0;
}


/* Add rounded corners to bootstrap containers */

.container {
    -webkit-border-radius: 10px;
}


/* Display a hand when hovering over an element */

.clickable {
    cursor: hand;
}

.version {
    font-size: 10pt;
    font-family: Arial;
}

.maincontent {
    background-color: white;
    margin-top: 30px;
}

.instructionSetRow {
    margin-bottom: 30px;
    margin: 0px;
    padding: 0px;
}

.instruction {
    color: black;
    float: left;
    margin: 0px;
}

.instructionIcon,
moveInstruction {
    padding: 10px;
    border: solid 1px;
    margin-left: 5px;
    color: white;
    background-color: blue;
    -webkit-border-radius: 7px;
    border: solid 1px lightgray;
}

.moveInstruction {
    background-color: red;
}

.instructionIcon:hover {
    background-color: lightblue;
}

#carousel-example-generic {
    width: 450px;
}