<div class="col-md-10">
    <h3>Instruction sets</h3>
    <hr/>
    <table class="table table-striped">
        <thead>
            <th>Name</th>
            <th>Instructions</th>
        </thead>
        <tbody>
            <tr ng-repeat="is in $ctrl.instructionSets">
                <td>
                    <strong>{{is.name}}</strong>
                </td>
                <td>
                    <div ng-repeat="ins in is.instructions" class="instruction">
                        <instruction-view instruction="ins" view="'compact'" />
                    </div>
                </td>
            </tr>
        </tbody>

    </table>


</div>
<div class="col-md-2">

</div>