<div class="col-md-10">
    <h3>Instruction sets</h3>
    <hr/>
    <table class="table table-striped">
        <thead>
            <th>Name</th>
            <th>Instructions</th>
            <th>Play</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        <tbody>
            <tr ng-repeat="is in $ctrl.instructionSets">
                <td>
                    <strong>{{is.name}}</strong>
                </td>
                <td>
                    <div ng-repeat="ins in is.instructions" class="instruction">
                        <instruction-view instruction="ins" view="'compact'" />
                    </div>
                </td>
                <td>
                    <button type="button" class="btn btn-primary" ng-click='$ctrl.play(is)'><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Play</button>
                </td>
                <td>
                    <button type="button" class="btn btn-info" ng-click='$ctrl.edit(is)'><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" ng-click='$ctrl.delete(is)'><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete</button>
                </td>
            </tr>
        </tbody>

    </table>


</div>
<div class="col-md-2">

</div>