<!--instructionSetForm.html -->
<form novalidate class="css-form">
    <div class="modal-header">
        <h3 class="modal-title">Add Instruction Set</h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" ng-model="ctrl.instructionSet.name" required />
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" name="description" ng-model="ctrl.instructionSet.description" />
        </div>


        <h3>Instructions</h3>
        <h4>
        <span class="glyphicon glyphicon-tint instructionIcon clickable" ng-click="ctrl.addInstruction('changeColor')" aria-hidden="true" ></span>
        <span class="glyphicon glyphicon-forward instructionIcon moveInstruction clickable" aria-hidden="true" ng-click="ctrl.addInstruction('move')"></span>
        </h4>

        <hr/>

        <table class="table table-striped">
            <tr ng-repeat="instruction in ctrl.instructionSet.instructions">
                <tD>
                    {{$index + 1}}
                </td>
                <td>
                    {{instruction.type}}
                </td>
                <td ng-if="instruction.type == 'move'">
                    <input type="text" class="form-control" placeholder="speed" ng-model="instruction.speed" />
                </td>
                <td ng-if="instruction.type == 'move'">

                    <input type="text" class="form-control" placeholder="direction" ng-model="instruction.direction" />

                </td>
                <td ng-if="instruction.type == 'changeColor'" colspan="2">
                    <input type="color" class="form-control" ng-model="instruction.color" />
                </td>
                <td>
                    <button class="btn btn-default" ng-click="ctrl.removeInstruction($index)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete</button>
                </td>
            </tr>


        </table>

        <div ng-if="ctrl.errors.length > 0">


            <div class="alert alert-danger">
                <strong>Validation Errors</strong>
                <ol>
                    <li ng-repeat="error in ctrl.errors">
                        {{error}}
                    </li>
                </ol>
            </div>
        </div>


    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="ctrl.cancel()">Cancel</button>
        <button class="btn btn-primary" type="submit" ng-click="ctrl.save()"><span class="glyphicon glyphicon-save" aria-hidden="true"></span> Save</button>
    </div>
</form>